:local(.styles) {
  margin-top: 50px;

  .gridlisttile-root {
    width: 434px;
    display: inline-block;
    max-height: 200px;
    margin: 20px;
    border: 1px solid $darkGrey;
    padding: 5px;
    border-radius: 5px;
  }

  .gridlisttile-tile {
    height: 200px;
    margin-top: -10px;
  }

  .gridlisttile-img {
    max-height: 100%;
    max-width: 100%;
  }

}
